<div class="containerr">
  <div class="header">
    <button class="back-button" (click)="goBack()">
      <i class="bi bi-arrow-left"></i> 
    </button>
    <h1 class="header-title">Visitors</h1>
  </div>
  
  <div class="tab-container">
    <div *ngFor="let tab of ['upcoming', 'completed', 'cancelled']" 
         class="tab" 
         [class.active-tab]="activeTab === tab"
         (click)="setActiveTab(tab)">
      <span class="tab-text" [class.active-tab-text]="activeTab === tab">
        {{ tab | uppercase }}
      </span>
      <div *ngIf="activeTab === tab" class="active-indicator"></div>
    </div>
  </div>

  <div *ngIf="filteredVisitors.length > 0" class="visitor-container pt-4">
    <ng-container *ngFor="let group of groupVisitorsByDate(filteredVisitors)">
      <p class="date text-muted fw-medium small mb-2 ps-1 pb-2">
        {{ group.date | date: 'dd MMM, yyyy' }}
      </p>

      <div *ngFor="let visitor of group.visitors" class="visitor-card bg-white rounded-4 shadow-sm px-3 pt-4 pb-2 mb-3" (click)="openVisitorOptions(visitor)">
        <div class="d-flex align-items-center mb-2">
          <img [src]="visitor.imageUrl || 'perfil.png'" alt="{{ visitor.name }}"
               class="icon rounded-circle me-3" width="60" height="45" />

          <div class="flex-grow-1">
            <h6 class="visitorname mb-0 fw-semibold">{{ visitor.name }}</h6>
            <small class="visitorname d-block">{{ visitor.phone }}</small>
            <small class="text-muted">{{ visitor.relation }}</small>
          </div>

          <div class="text-end ms-2 d-flex flex-column align-items-end">
            <i class="bi bi-three-dots text-muted ms-2 small"></i>
            <small class="text-muted text-nowrap">{{ visitor.date | date: 'dd MMM, yyyy' }}</small>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <div *ngIf="selectedVisitor" class="visitor-options-overlay" (click)="closeVisitorOptions()">
    <div class="visitor-options-box" (click)="$event.stopPropagation()">
      <div class="visitor-options-header">
        <h5>{{ selectedVisitor.name }}</h5>
        <button class="close-btn" (click)="closeVisitorOptions()">x</button>
      </div>
      <button (click)="editVisitor()">Edit Visitor</button>
      <button (click)="removeVisitor()" class="text-danger">Remove Visitor</button>
    </div>
  </div>
  
    <button type="button" (click)="goAddVisitor()" class="add-button rounded-circle shadow position-fixed"
          style="bottom: 4rem; right: 2rem; width: 56px; height: 56px;">
    <i class="bi bi-plus-lg fs-4"></i>
  </button>
</div>
