<div class="containerr">
  <div class="header">
    <button class="back-button" (click)="goBack()">
      <i class="bi bi-arrow-left"></i> <!-- Icono dentro del botón -->
    </button>
    <h1 class="header-title">Visitors</h1>
  </div>
  <div class="tab-container">
    <div *ngFor="let tab of ['upcoming', 'completed', 'cancelled']" 
         class="tab" 
         [class.active-tab]="activeTab === tab"
         (click)="setActiveTab(tab)">
      <span class="tab-text" [class.active-tab-text]="activeTab === tab">
        {{ tab | uppercase }}
      </span>
      <div *ngIf="activeTab === tab" class="active-indicator"></div>
    </div>
  </div>

  <div *ngIf="isLoading" class="loading">
    <p>Loading visitors...</p>
  </div>
  
  <div *ngIf="!isLoading && filteredVisitors.length === 0" class="empty-state-container">
    <img src="perfil.png" alt="No Visitors" class="icon" />
    <p class="empty-state-text">There is no {{ activeTab }} visitor</p>
    <button class="add-button">
      <span>Add new visitor</span>
    </button>
  </div>

  <div *ngIf="!isLoading && filteredVisitors.length > 0" class="visitor-list">
    <div *ngFor="let visitor of filteredVisitors" class="visitor-item">
      <img [src]="visitor.profileImage" alt="Visitor profile" class="visitor-image" />
      <p class="visitor-name">{{ visitor.name }}</p>
    </div>
  </div>
</div>
